[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=SEI - Software de Educação Infantil
Categories=Education;
Exec=sei
Icon=pmmc-oi-sei
Terminal=false
StartupNotify=true
Version=2.12.2.3
